  <div id="menu">
    <span class="title">Grant Hale</span>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/writing">Writing</a></li>
      <li><a href="/bookshelf">Bookshelf</a></li>
      <!-- <li><a href="/links">Links</a></li> -->
      <li><a href="/people">People</a></li>
      <!-- <li><a href="/questions">Questions</a></li> -->
      <li><a href="https://twitter.com/grant__hale">Twitter</a></li>
      <li><a href="https://podcasters.spotify.com/pod/show/surfacetensionpod">Podcast</a></li>
    </ul>
    </div>
  </div>