<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About | Grant Hale</title>
  <link rel="stylesheet" href="/index.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <%- include('../partials/sidebar.ejs') %>
  <div id="left">&nbsp;</div>
  <div id="content">
    <h1> About </h1>
    <br>
    <div style="display:flex; align-items:center;">
        <img src="profile.jpg" alt="Profile" height="300" style="margin-left: 100px;">
        <div id="content">
          <p> My name is Grant and I'm 22 years old. </p>
          <p> I love to grapple with challenging and interesting ideas - especially those in computer science.</p>
          <p> During the summer of 2023, I'll be in Chicago (in May), Iceland, Amsterdam, Norway (in June) and San Francisco (in July). I'm always looking for people to meet and projects to work on, feel free to reach out! </p>
        </div>
      </div>
      <br><br>
      <b> In my spare time, you'll probably find me: </b>
        <ul>
          <li> <a href="https://podcasters.spotify.com/pod/show/surfacetensionpod">Talking </a> </li>
          <li> <a href="https://github.com/granthale">Coding</a> </li>
          <li> <a href="https://www.granthale.com/bookshelf">Reading</a> </li>
          <li> Running </li>
        </ul>
</body>
</html>