<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>About | Grant Hale</title>
</head>
<body>
  <%- include('../partials/sidebar.ejs') %>
  <div id="left">&nbsp;</div>
  <div id="content"> 
    <div id="content">
      <h1> About </h1>
      <br>
      <img src="public/profile.jpg" alt="Profile" height="130">
      <p> Hello! Welcome to my website. My name is Grant Hale and I'm 22 years old. </p>
      <p> I love to solve problems, and find myself the happiest when grappling with interesting & challenging ideas (especially with smart, motivated friends). </p>
      <br>
      <b> I believe that: </b>
        <ul>
          <li> Curiosity can be cultivated </li>
          <li> Nothing with longterm value can (or should?) be done without others </li>
          <li> Thinking is a learned mental habit </li>
        </ul>
  <%- include('../partials/footer.ejs') %>
</body>