<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grant Hale</title>
  </head>
  <% var navbarColor = '#C8FFD4'; %>
  <body style="background-color: <%= navbarColor %>">
    <%- include('../partials/navbar.ejs', { navbarColor: navbarColor }) %>
    <div class="px-4 py-1 my-1 text-left">
      <h1 class="display-5 fw-bold text-body-emphasis">About!</h1>
      <br>
      <h3 class="display-10 text-body-emphasis">Education</h3>
      <div class="col-lg-10 ml-auto">
        <p class="lead mb-4">
          I graduated in May 2023 from the University of Illinois with a major in finance and a minor
          in computer science. 
        </p>
        <p class="lead mb-4">To those who say college is becoming outdated, I
          truly don't know where I would be without the people I met and
          the (main)character that I developed.
        </p>
        <h3 class="display-10 text-body-emphasis">Time & Location</h3>
        <p class="lead mb-4">
          I've got  ~<span id="days"></span> days and counting until I
          start work for Boston Consulting Group as an Associate. Here is where I'll be from now until then:
          <ul class="lead mb-4">
            <li>May - Chicago</li>
            <li>June - Iceland, Amsterdam, Norway, Germany, Italy</li>
            <li>July - San Francisco</li>
            <li>August - San Francisco, Chicago</li>
            <li>September, October, November, December - TBD</li>
          </ul>
        </p>
        <h3 class="display-10 text-body-emphasis">Energy</h3>
        <p class="lead mb-4">
          Here are the things that I'm
          currently putting energy into:
        </p>
        <ul class="lead mb-4">
          <li>Recording podcast episodes for <a href="https://podcasters.spotify.com/pod/show/surfacetensionpod">Surface Tension</a></li>
          <li> <a href="https://treetoforest.substack.com/">Writing</a> @ least 15 minutes a day - ideally closer to an hour</li>
          <li>
            Learning <a href="https://codingthematrix.com/">linear algebra</a> to hopefully apply to a fun side project
          </li>
          <li>
            Developing this website from scratch - it's been an awesome way to document
            where I'm currently at and the things that I'm excited about for the
            future
          </li>
          <li>Travelling & experiencing different cultures</li>
          <li>Meeting people & developing closer relationships</li>
        </ul>

        <p class="lead mb-4"> I'm a major believer that cool things usually don't happen without other people. Reach out <a href="mailto: g@granthale.com">here</a> or on <a href="https://twitter.com/grant__hale">Twitter</a> if you'd like to talk!</p>
        <!-- What my values are -->
        <!-- What I've committed to... -->
        <!-- What are some fundamental truths that I believe -->
        <script>
          window.addEventListener("DOMContentLoaded", function () {
            var currentDate = new Date();
            var targetDate = new Date("2024-01-01");
            var timeDifference = targetDate.getTime() - currentDate.getTime();
            var daysDifference = Math.ceil(timeDifference / (1000 * 3600 * 24));

            var daysElement = document.getElementById("days");
            daysElement.textContent = daysDifference;
          });
        </script>
      </div>
    </div>
  </body>
</html>
