<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grant Hale</title>
  </head>
  <body style="background-color: rgba(176, 196, 222, 0.855)">
    <%- include('../partials/navbar.ejs') %>
    <div class="px-4 py-1 my-1 text-left">
      <h1 class="display-5 fw-bold text-body-emphasis">About!</h1>
      <div class="col-lg-10 ml-auto">
        <p class="lead mb-4">
          I graduated in May 2023 from UIUC with a major in finance and a minor
          in computer science. To those who say college is becoming outdated, I
          truly don't know where I would be without the people that I met and
          the discipline that I developed.
        </p>
        <p class="lead mb-4">
          Now that I've graduated, I've got about { <span id="days"></span> } days and counting until I
          start work for Boston Consulting Group as an Associate. During the
          summer of 2023, I'll be in Chicago (in May), Iceland, Amsterdam,
          Norway and Italy (in June) and San Francisco (in July).
        </p>
        <br />
        <p class="lead mb-4">
          I have a very hard time sitting still, here are the things that I'm
          currently putting energy into:
        </p>
        <ul class="lead mb-4">
          <li>Writing @ least 15 minutes a day - ideally closer to an hour</li>
          <li>
            Developing this website from scratch - it's been an way to document
            where I'm currently at and the things that I'm excited about for the
            future
          </li>
          <li>
            Learning linear algebra for fun and to apply to a fun side project
          </li>
          <li>Travelling & experiencing different cultures</li>
          <li>Meeting people & developing closer relationships</li>
        </ul>
        <!-- What my values are -->
        <!-- What I've committed to... -->
        <!-- What are some fundamental truths that I believe -->
        <script>
          console.log("Ran");
          window.addEventListener("DOMContentLoaded", function () {
            var currentDate = new Date();
            var targetDate = new Date("2024-01-01");
            var timeDifference = targetDate.getTime() - currentDate.getTime();
            var daysDifference = Math.ceil(timeDifference / (1000 * 3600 * 24));

            var daysElement = document.getElementById("days");
            daysElement.textContent = daysDifference;
          });
        </script>
      </div>
    </div>
  </body>
</html>
