<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grant Hale</title>
</head>
<body>
  <%- include('../partials/navbar.ejs') %>
  <div class="px-4 py-1 my-1 text-left">
    <h1 class="display-5 fw-bold text-body-emphasis">About!</h1>
    <div class="col-lg-10 ml-auto">
      <p class="lead mb-4">During the summer of 2023, I'll be in Chicago (in May), Iceland, Amsterdam, Norway (in June) and San Francisco (in July). I'm always looking for people to meet and projects to work on, feel free to reach out!</p>
  </div>
</body>