<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bookshelf | Grant Hale</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <%- include('../partials/navbar.ejs') %>
      <br>
      <p> These are some of my favorite books: </p>
        <ul>
          <li><a href="https://jeffe.cs.illinois.edu/teaching/algorithms/">Algorithms</a></li>
          <li><a href="https://www.amazon.com/Catch-22-50th-Anniversary-Joseph-Heller/dp/1451626657"> Catch-22</a></li>
          <li><a href="https://www.amazon.com/Invisible-Man-Ralph-Ellison/dp/0679732764"> Invisible Man</a></li>
          <li><a href="https://www.amazon.com/Dream-Machine-M-Mitchell-Waldrop/dp/1732265119/ref=sr_1_1?crid=1DCWPQ0M4DO0T&keywords=the+dream+machine&qid=1683673665&s=books&sprefix=the+dream+machine%2Cstripbooks%2C92&sr=1-1">The Dream Machine</a></li>
          <li><a href="https://www.amazon.com/Chip-Americans-Invented-Microchip-Revolution/dp/0375758283">The Chip</a></li>
          <li><a href="https://www.amazon.com/Stuff-Matters-Exploring-Marvelous-Materials/dp/0544236041">Stuff Matters</a></li>
          <li><a href="https://www.navalmanack.com/">The Almanack of Naval Ravikant</a></li>
          <li><a href="https://www.amazon.com/Hard-Landing-Contest-Profits-Airlines/dp/0812928350">Hard Landing</a></li>
          <li><a href="https://www.amazon.com/Whole-Earth-Discipline-Transgenic-Geoengineering/dp/0143118285">Whole Earth Discipline</a></li>
          <li><a href="https://www.betterworldbooks.com/product/detail/something-incredibly-wonderful-happens-frank-oppenheimer-and-the-world-he-made-up-9780151008223">Something Incredibly Wonderful Happens</a></li>
          <li><a href="https://www.amazon.com/Surely-Feynman-Adventures-Curious-Character/dp/0393316041">Surely You're Joking, Mr. Feynman!</a></li>
          <li><a href="https://www.amazon.com/Deep-Work-Focused-Success-Distracted/dp/1455586692">Deep Work</a></li>
          <li><a href="https://www.amazon.com/Poor-Charlies-Almanack-Essential-Charles/dp/1953953239/ref=sr_1_1?crid=3SR5XEKQJNH0L&keywords=poor+charlie%27s+almanack&qid=1683681145&sprefix=poor%2520charlies%2520almanack%2Caps%2C88&sr=8-1">Poor Charlie's Almanack</a></li>
          <li><a href="https://www.amazon.com/Innovators-Dilemma-Technologies-Management-Innovation/dp/1633691780/ref=sr_1_1?keywords=innovators+dilemma&qid=1683681292&s=books&sprefix=the+innovators+di%2Cstripbooks%2C88&sr=1-1">The Innovator's Dilemma</a></li>
          <li><a href="https://www.amazon.com/Know-Why-Caged-Bird-Sings/dp/0345514408">I Know Why the Caged Bird Sings</a></li>
          <li><a href="https://www.amazon.com/Good-Calories-Bad-Controversial-Science/dp/1400033462/ref=asc_df_1400033462/?tag=hyprod-20&linkCode=df0&hvadid=312134205520&hvpos=&hvnetw=g&hvrand=830581454970089288&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9022185&hvtargid=pla-330756790220&psc=1">Good Calories, Bad Calories</a></li>
          <li><a href="https://www.amazon.com/Grapes-Wrath-John-Steinbeck/dp/0143039431">The Grapes of Wrath</a></li>
        </ul>
</body>