<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Bookshelf | Grant Hale</title>
</head>
<body>
  <%- include('../partials/sidebar.ejs') %>
  <div id="left">&nbsp;</div>
  <div id="content"> 
    <div id="content">
      <h1> Bookshelf </h1>
      <br>
      <p> These are some of my favorite books: </p>
      <div id="content">
        <ul>
          <li><a href="https://jeffe.cs.illinois.edu/teaching/algorithms/">Algorithms</a></li>
          <li><a href="https://www.amazon.com/Catch-22-50th-Anniversary-Joseph-Heller/dp/1451626657"> Catch-22</a></li>
          <li><a href="https://www.amazon.com/Invisible-Man-Ralph-Ellison/dp/0679732764"> Invisible Man</a></li>
          <li><a href="https://www.amazon.com/Dream-Machine-M-Mitchell-Waldrop/dp/1732265119/ref=sr_1_1?crid=1DCWPQ0M4DO0T&keywords=the+dream+machine&qid=1683673665&s=books&sprefix=the+dream+machine%2Cstripbooks%2C92&sr=1-1">The Dream Machine</a></li>
          <li><a href="https://www.amazon.com/Chip-Americans-Invented-Microchip-Revolution/dp/0375758283">The Chip</a></li>
          <li><a href="https://www.amazon.com/Stuff-Matters-Exploring-Marvelous-Materials/dp/0544236041">Stuff Matters</a></li>
          <li><a href="https://www.navalmanack.com/">The Almanack of Naval Ravikant</a></li>
          <li><a href="https://www.amazon.com/Hard-Landing-Contest-Profits-Airlines/dp/0812928350">Hard Landing</a></li>
          <li><a href="https://www.amazon.com/Whole-Earth-Discipline-Transgenic-Geoengineering/dp/0143118285">Whole Earth Discipline</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <%- include('../partials/footer.ejs') %>
</body>