<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Grant Hale</title>
    <link rel="stylesheet" href="/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <nav class="menu">
        <header>Menu <span>×</span></header>
        <ol>
          <li class="menu-item"><a href="about">About</a></li>
          <li class="menu-item">
            <a href="writing">Writing</a>
            <ol class="sub-menu">
              <li class="menu-item"><a href="#0">Essays</a></li>
              <li class="menu-item"><a href="#0">Explanations</a></li>
            </ol>
          </li>
          <li class="menu-item"><a href="bookshelf">Bookshelf</a></li>
          <li class="menu-item">
            <a href="#0">Projects</a>
            <ol class="sub-menu">
              <li class="menu-item"><a href="https://podcasters.spotify.com/pod/show/surfacetensionpod">Podcast</a></li>
              <li class="menu-item"><a href="https://github.com/granthale">Github</a></li>
            </ol>
          </li>
          <li class="menu-item"><a href="https://twitter.com/grant__hale">Twitter</a></li>
          <li class="menu-item"><a href="#0">Contact</a></li>
        </ol>
        <footer><button aria-label="Toggle Menu">Toggle</button></footer>
      </nav> 
      
      <script>
        $(document).ready(function() {
          var $els = $('.menu a, .menu header');
          var count = $els.length;
          var grouplength = Math.ceil(count/3);
          var groupNumber = 0;
          var i = 1;
          $('.menu').css('--count',count+'');
          $els.each(function(j){
              if ( i > grouplength ) {
                  groupNumber++;
                  i=1;
              }
              $(this).attr('data-group',groupNumber);
              i++;
          });
      
          $('.menu footer button').on('click',function(e){
              e.preventDefault();
              $els.each(function(j){
                  $(this).css('--top',$(this)[0].getBoundingClientRect().top + ($(this).attr('data-group') * -15) - 20);
                  $(this).css('--delay-in',j*.1+'s');
                  $(this).css('--delay-out',(count-j)*.1+'s');
              });
              $('.menu').toggleClass('closed');
              e.stopPropagation();
          });
      
          // run animation once at beginning for demo
          setTimeout(function(){
              $('.menu footer button').click();
              setTimeout(function(){
                  $('.menu footer button').click();
              }, (count * 100) + 500 );
          }, 1000);
        });
      </script>
  </body>
  </html>