<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Grant Hale</title>

</head>
<% var navbarColor = '#FDFDBD'; %>
<body style="background-color: <%= navbarColor %>">

  <!--——————————————————————————————————————————————-->
  <!-- ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​-->
  <!-- ​ ​ ​ ​ ​We meet each other on this road, ​ ​ ​ ​ ​ ​ ​ ​ ​-->
  <!-- ​ ​ ​ ​ ​In the web inspector, or so I think; ​ ​ ​ ​ ​-->
  <!-- ​ ​ ​ ​ ​I ask, are you looking for the code? ​ ​ ​ ​ ​-->
  <!-- ​ ​ ​ ​ ​Because if so, then here's the link! ​ ​ ​ ​ ​-->
  <!-- ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​-->
  <!--  https://github.com/granthale/granthale.com  -->
  <!-- ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​ ​-->
  <!--——————————————————————————————————————————————-->

  <%- include('../partials/navbar.ejs', { navbarColor: navbarColor }) %>
  <div class="px-4 py-5 my-5 text-left">
    <!-- <img class="d-block mx-auto mb-4" src="public/value.png" alt="" width="72" height="57"> -->
    <!-- Element to contain animated typing -->
    <span id="element"></span>
    <!-- Load library from the CDN -->
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <!-- Setup and start animation! -->
    <script>
      var typed = new Typed('#element', {
        strings: ['<h1 class="display-5 fw-bold text-body-emphasis">Hello I\'m Grant!</h1>'],
        typeSpeed: 50,
        showCursor: false,
        backSpeed: 30
      });
    </script>

    <!-- <h1 class="display-5 fw-bold text-body-emphasis">Welcome!</h1> -->
  
    <div class="col-lg-6 ml-auto">
    <p class="lead mb-4">I'm currently traveling across Europe, reading about the history of computing and making an effort to truly think everyday.</p>
    <p class="lead mb-4">In my freetime, I love to read and grapple with challenging and interesting ideas - especially those related to computer science, spend time with friends, try new foods, and stay active. </p>  
    </div>
  </div>
  <script>
    var typed = new Typed('#typed', {
      stringsElement: '#typed-strings'
    });
  </script>

</body>
</html>