<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Influences | Grant Hale</title>
</head>
<% var navbarColor = '#DEBACE'; %>
<body style="background-color: <%= navbarColor %>">
  <%- include('../partials/navbar.ejs', { navbarColor: navbarColor }) %>
      <div class="px-4 py-1 my-1 text-left">
        <h1 class="display-5 fw-bold text-body-emphasis">Influences!</h1>
        <div class="col-lg-10 ml-auto">
          <p class="lead mb-4">New ideas are like seeds. As we nurture them with curiosity, contemplation, and exploration, they begin to take root.
          With time and continued care, the seedling transforms into a sapling. It branches out, extending its reach in various directions, and explores new possibilities.</p>

          <p class="lead mb-4">
          As the sapling matures, it becomes a full-fledged tree, casting its shade over our mental landscape. Then,  through its seeds, the tree carries the potential to create an entire forest. These seeds, when shared with others through discussions or creative works, have the power to take root, influencing their thinking and contributing to the growth of a collective intellectual forest.</p>
          
          <p class="lead mb-4">
          These are some of the books and people that have planted seeds in me as a person and thinker:</p>
          <h3 class="display-10 text-body-emphasis">People</h3>
          <ul class="lead mb-4">
            <li><a href="https://en.wikipedia.org/wiki/Frank_Oppenheimer">Frank Oppenheimer</a></li>
            <li><a href="https://patrickcollison.com/">Patrick Collison</a></li>
            <li><a href="http://paulgraham.com/">Paul Graham</a></li>
            <li><a href="https://nav.al/">Naval Ravikant</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Richard_Feynman">Richard Feynman</a></li>
            <li><a href="https://waitbutwhy.com/">Tim Urban</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Charlie_Munger">Charlie Munger</a></li>
            <li><a href="https://www.fooledbyrandomness.com/">Nassim Taleb</a></li>
            <li><a href="https://www.mollymielke.com/">Molly Mielke</a></li>
            <li><a href="https://www.amazon.com/Dream-Machine-M-Mitchell-Waldrop/dp/1732265119">J.C.R. Licklider</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Douglas_Hofstadter">Douglas Hofstadter</a></li>
          </ul>
          <br>
          <h3 class="display-10 text-body-emphasis">Books</h3>
          <ul class="lead mb-4">
            <li><a href="https://jeffe.cs.illinois.edu/teaching/algorithms/">Algorithms</a> by Jeff Erickson</li>
            <li><a href="https://www.amazon.com/Catch-22-50th-Anniversary-Joseph-Heller/dp/1451626657"> Catch-22</a> by Joseph Heller</li>
            <li><a href="https://www.amazon.com/Invisible-Man-Ralph-Ellison/dp/0679732764"> Invisible Man</a> by Ralph Ellsion</li>
            <li><a href="https://www.amazon.com/Dream-Machine-M-Mitchell-Waldrop/dp/1732265119/ref=sr_1_1?crid=1DCWPQ0M4DO0T&keywords=the+dream+machine&qid=1683673665&s=books&sprefix=the+dream+machine%2Cstripbooks%2C92&sr=1-1">The Dream Machine</a> by M. Mitchell Waldrop</li>
            <li><a href="https://www.amazon.com/Chip-Americans-Invented-Microchip-Revolution/dp/0375758283">The Chip</a> by T.R. Reid</li>
            <li><a href="https://www.amazon.com/Stuff-Matters-Exploring-Marvelous-Materials/dp/0544236041">Stuff Matters</a> by Mark Miodownik</li>
            <li><a href="https://www.navalmanack.com/">The Almanack of Naval Ravikant</a> by Eric Jorgenson</li>
            <li><a href="https://www.amazon.com/Hard-Landing-Contest-Profits-Airlines/dp/0812928350">Hard Landing</a> by Thomas Petzinger Jr.</li>
            <li><a href="https://www.amazon.com/Whole-Earth-Discipline-Transgenic-Geoengineering/dp/0143118285">Whole Earth Discipline</a> by Stewart Brand</li>
            <li><a href="https://www.betterworldbooks.com/product/detail/something-incredibly-wonderful-happens-frank-oppenheimer-and-the-world-he-made-up-9780151008223">Something Incredibly Wonderful Happens</a> by K.C. Cole</li>
            <li><a href="https://www.amazon.com/Surely-Feynman-Adventures-Curious-Character/dp/0393316041">Surely You're Joking, Mr. Feynman!</a> by Richard Feynman</li>
            <li><a href="https://www.amazon.com/Deep-Work-Focused-Success-Distracted/dp/1455586692">Deep Work</a> by Cal Newport</li>
            <li><a href="https://www.amazon.com/Poor-Charlies-Almanack-Essential-Charles/dp/1953953239/ref=sr_1_1?crid=3SR5XEKQJNH0L&keywords=poor+charlie%27s+almanack&qid=1683681145&sprefix=poor%2520charlies%2520almanack%2Caps%2C88&sr=8-1">Poor Charlie's Almanack</a> by Charlie Munger</li>
            <li><a href="https://www.amazon.com/Innovators-Dilemma-Technologies-Management-Innovation/dp/1633691780/ref=sr_1_1?keywords=innovators+dilemma&qid=1683681292&s=books&sprefix=the+innovators+di%2Cstripbooks%2C88&sr=1-1">The Innovator's Dilemma</a> by Clayton Christensen</li>
            <li><a href="https://www.amazon.com/Know-Why-Caged-Bird-Sings/dp/0345514408">I Know Why the Caged Bird Sings</a> by Maya Angelou</li>
            <li><a href="https://www.amazon.com/Good-Calories-Bad-Controversial-Science/dp/1400033462/ref=asc_df_1400033462/?tag=hyprod-20&linkCode=df0&hvadid=312134205520&hvpos=&hvnetw=g&hvrand=830581454970089288&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9022185&hvtargid=pla-330756790220&psc=1">Good Calories, Bad Calories</a> by Gary Taubes</li>
            <li><a href="https://www.amazon.com/Grapes-Wrath-John-Steinbeck/dp/0143039431">The Grapes of Wrath</a> by John Steinbeck</li>
          </ul>
        </div>
      </div>
</body>
</html>