<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>People | Grant Hale</title>
</head>
<body>
  <%- include('../partials/sidebar.ejs') %>
  <div id="content"> 
    <div id="content">
      <h1> People </h1>
      <p> These are some people that I look up to. </p>
    </div>
  </div>
  <%- include('../partials/footer.ejs') %>
</body>