<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>People | Grant Hale</title>
</head>
<body>
  <%- include('../partials/sidebar.ejs') %>
  <div id="content"> 
    <div id="content">
      <h1> People </h1>
      <br>
      <p> These are people that I look up to for various reasons. I think it's important to be aware of what you disagree with people on just as much as what you agree with them on, so take these with a grain of salt. </p>
      <br>
      <b> Living </b>
      <ul>
        <li> Patrick Collison </li>
        <li> Paul Graham </li>
      </ul>
      <br>

      <b> Dead </b>
      <ul>
        <li> Richard Feynman </li>
      </ul>
    </div>
  </div>
  <%- include('../partials/footer.ejs') %>
</body>