<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>People | Grant Hale</title>
</head>
<body style="background-color:rgba(100, 206, 90, 0.354)">
  <%- include('../partials/navbar.ejs') %>
      <div class="px-4 py-1 my-1 text-left">
        <h1 class="display-5 fw-bold text-body-emphasis">People!</h1>
        <div class="col-lg-10 ml-auto">
          <p class="lead mb-4">These are people that I have consistently learned from or respect</p>
        </div>
      </div>
          <div class="container">
            <div class="list-group mk-4 ml-auto">
              <a href="http://paulgraham.com/">
                <button type="button" class="list-group-item list-group-item-action">Paul Graham</button>
              </a>
              <a href="https://en.wikipedia.org/wiki/Charlie_Munger">
                <button type="button" class="list-group-item list-group-item-action">Charlie Munger</button>
              </a>
              <a href="https://patrickcollison.com/">
                <button type="button" class="list-group-item list-group-item-action">Patrick Collison</button>
              </a>
              <a href="https://www.fooledbyrandomness.com/">
                <button type="button" class="list-group-item list-group-item-action">Nassim Taleb</button>
              </a>
              <a href="https://nav.al/">
                <button type="button" class="list-group-item list-group-item-action">Naval Ravikant</button>
              </a>
              <a href="https://en.wikipedia.org/wiki/Richard_Feynman">
                <button type="button" class="list-group-item list-group-item-action">Richard Feynman</button>
              </a>
              <a href="https://en.wikipedia.org/wiki/Frank_Oppenheimer">
                <button type="button" class="list-group-item list-group-item-action">Tim Urban</button>
              </a>
              <a href="https://waitbutwhy.com/">
                <button type="button" class="list-group-item list-group-item-action">Tim Urban</button>
              </a>
              <a href="https://www.amazon.com/Dream-Machine-M-Mitchell-Waldrop/dp/1732265119">
                <button type="button" class="list-group-item list-group-item-action">J.C.R. Licklider</button>
              </a>
            </div>
      </div>
</body>