<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/index.css">
  <title>People | Grant Hale</title>
</head>
<body>
  <%- include('../partials/menu.ejs') %>
  <div id="content"> 
    <div id="content">
      <h1> People </h1>
      <br>
      <p> These are some people that I have consistently learned from or respect: </p>
      <br>
      <ul>
        <li><a href="http://paulgraham.com/">Paul Graham</a></li>
        <li> Charlie Munger </li>
        <li><a href="https://patrickcollison.com/">Patrick Collison</a></li>
        <li><a href="https://www.fooledbyrandomness.com/">Nassim Taleb</a></li>
        <li><a href="https://nav.al/">Naval Ravikant</a></li>
        <li> Richard Feynman </li>
        <li><a href="https://en.wikipedia.org/wiki/Frank_Oppenheimer">Frank Oppenheimer</a></li>
        <li><a href="https://www.amazon.com/Dream-Machine-M-Mitchell-Waldrop/dp/1732265119">J.C.R. Licklider</a></li>
        <li><a href="https://waitbutwhy.com/">Tim Urban</a></li>
      </ul>
      <br>
    </div>
  </div>
</body>