<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Writing | Grant Hale</title>
</head>
<body style="background-color:rgba(43, 147, 74, 0.352);">
  <%- include('../partials/navbar.ejs') %>
      <!-- <h1> Writing </h1> -->
  <div class="px-4 py-1 my-1 text-left">
    <h1 class="display-5 fw-bold text-body-emphasis">Writing!</h1>
  </div>
</body>