<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Writing | Grant Hale</title>
</head>
<body>
  <%- include('../partials/sidebar.ejs') %>
  <div id="left">&nbsp;</div>
  <div id="content"> 
    <div id="content">
      <h1> Writing </h1>
      <br>
      <p> As of 5/9/23, I plan to write at least 15 minutes everyday. These essays will be the culminations of my thoughts. </p>
      <div id="content">
        <ul>
          <li><a href=""></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
</body>