<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>I Like | Grant Hale</title>
</head>
<body>
  <%- include('../partials/navbar.ejs') %>
  <div class="px-4 py-1 my-1 text-left">
    <h1 class="display-5 fw-bold text-body-emphasis">I like!</h1>
    <div class="col-lg-10 ml-auto">
      <p class="lead mb-4">Check out these pieces, they are either entertaining, have made me better informed or have made me a better person</p>
    </div>
  </div>
      <div class="container">
        <div class="list-group mk-4 ml-auto">
          <button type="button" class="list-group-item list-group-item-action">Piece 1</button>
          <button type="button" class="list-group-item list-group-item-action">Piece 2</button>
        </div>
  </div>
</body>