<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Essays | Grant Hale</title>
</head>
<body>
  <%- include('../partials/navbar.ejs') %>
      <!-- <h1> Writing </h1> -->
  <div class="px-4 py-1 my-1 text-left">
    <h1 class="display-5 fw-bold text-body-emphasis">Essays!</h1>
    <div class="col-lg-6 ml-auto">
      <p class="lead mb-4">Stay tuned. These essays will be my attempts to understand the world that we live in.</p>
    </div>
  </div>
      <div class="container">
        <div class="list-group mk-4 ml-auto">
          <button type="button" class="list-group-item list-group-item-action">Essay 1</button>
          <button type="button" class="list-group-item list-group-item-action">Essay 2</button>
        </div>
  </div>
</body>